body {
  margin-left: 20px;
  font-family: 'Cutive Mono', monospace;
  font-size: 12pt;
}

.title {
  position: fixed;
  top: 10px;
}

.menu {
  position: fixed;
  bottom: 10px;
  display: flex;
}

.menu p {
  color: black;
  border: 1px solid black;
  text-align: center;
  padding: 6px 12px;
  border-radius: 100%;
  margin: 10px;

}

a {
  color: black;
  text-decoration: none;
}
