body {
  font-family: 'Cutive Mono', monospace;
  background-color: khaki;
  margin: 0px;

}

h1 {
  display: block;
  width: 100%;
  padding: 25px;
  margin: 0;
  position: fixed;
  z-index: 100;
  background: linear-gradient(180deg, rgba(240,230,140,1) 0%,
                                      rgba(240,230,140,1) 70%,
                                      rgba(240,230,140,0) 100%);
  }

.content {
  position: absolute;
  top: 60px;
}

.box {
  width: 600px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px white;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 20px;
  background-color: ivory;
}

.box:hover {
  border: 1px solid white;
}

p {
  font-size: 14pt;
}

.index {
  position: fixed;
  float: right;
  top: 70px;
  right: 30px;
}

.index button {
  display: block;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px white;
  border-radius: 5px;
  outline: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 12pt;
  text-align: right;
}

button:hover {
  border: 1px solid white;
}
